.home-products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 37.5rem 20rem 12.5rem 12.5rem;
  row-gap: clamp(1.5rem, 0.972rem + 2.253vw, 3rem);

  > * {
    grid-column: span 2;
    border-radius: 0.5rem;
    padding: 0 clamp(1.5rem, -0.085rem + 6.761vw, 6rem);
  }

  h1,
  h2 {
    max-width: min-content;
  }

  p {
    max-width: 21.875rem;
  }

  &__box-one {
    row-gap: 2rem;
    background: var(--color-brand)
      url("/images/home/desktop/pattern-circles.svg") center -8rem / cover no-repeat;
  }

  &__box-two {
    background: url("/images/home/mobile/image-speaker-zx7.jpg") right / cover
      no-repeat;
  }

  &__box-three {
    background: url("/images/home/mobile/image-earphones-yx1.jpg") center /
      cover no-repeat;
  }

  @media (width >= 768px) {
    grid-template-rows: 45rem 20rem 20rem;
    column-gap: clamp(0.688rem, -0.67rem + 2.827vw, 1.875rem);

    &__box-one {
      row-gap: 4rem;
      background-size: 56.5rem;
      background-position: center -15.5rem;
    }

    &__box-two {
      background-image: url("/images/home/tablet/image-speaker-zx7.jpg");
    }

    &__box-three {
      grid-column: 1;
      background-image: url("/images/home/tablet/image-earphones-yx1.jpg");
    }

    &__box-four {
      grid-column: 2;
    }
  }

  @media (width >= 1440px) {
    grid-template-rows: 35rem 20rem 20rem;

    &__box-one {
      overflow-y: hidden;
      flex-direction: row;
      justify-content: space-between;
      background-position: -12rem -4rem;
      background-size: 65rem;

      > picture {
        align-self: flex-end;
        transform: translateY(1.5rem);
      }
    }

    &__box-two {
      background-image: url("/images/home/desktop/image-speaker-zx7.jpg");
    }

    &__box-three {
      background-image: url("/images/home/desktop/image-earphones-yx1.jpg");
    }
  }
}
