.flex {
  display: flex;

  &-col {
    @extend .flex;
    flex-direction: column;
  }

  &-wrap {
    flex-wrap: wrap;
  }
}

$flex-alignment-types: flex-start, center, space-around, space-evenly,
  space-between, flex-end;

@each $type in $flex-alignment-types {
  .content-#{$type} {
    justify-content: $type;
  }

  .items-#{$type} {
    align-items: $type;
  }
}

$gaps: 16px, 24px, 34px, 48px;

@each $gap in $gaps {
  .column-gap-#{$gap} {
    column-gap: $gap;
  }

  .row-gap-#{$gap} {
    row-gap: $gap;
  }
}
