.burger-button {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 1rem;
  gap: 3px;
  border: none;
  transition: gap 0.3s;

  &__bar {
    height: 3px;
    background-color: white;
  }

  &:hover {
    gap: 5px;
  }
}
