@use "sass:color";

:root {
  --white: #fff;
  --black: #000;
  --white-transparent: rgba(255, 255, 255, 0.5);
  --black-transparent: rgba(0, 0, 0, 0.5);
  --bg-black-pale: #101010;
  --color-brand: #d87d4a;
  --color-brand-pale: #fbaf85;
  --bg-grey: #f1f1f1;
  --bg-grey-pale: #fafafa;

  --main-horizontal-space: clamp(1.5rem, 0.546rem + 4.071vw, 2.5rem);

  @media (width >= 768px) {
    --main-horizontal-space: clamp(2.5rem, -6.428rem + 18.601vw, 10.312rem);
  }
}
