.category-link {
  height: 100%;
  padding-bottom: 1.875rem;

  &__image {
    min-width: 9.063rem;
    width: 57%;
    height: auto;
    bottom: 100%;
    left: 50%;
    right: 0;
    transform: translate(-50%, 65%);

    @media (width <= 480px) {
      width: 50%;
      transform: translate(-50%, 60%);
    }
  }
}
