@use "text" as *;

.btn {
  @extend .text--sub;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  transition-property: color, background-color;
  transition-duration: 0.3s;

  &--primary {
    @extend .btn;
    border: none;
    color: var(--white);
    background-color: var(--color-brand);

    &:hover {
      background-color: var(--color-brand-pale);
    }
  }

  &--secondary {
    @extend .btn;
    color: var(--black);
    border: 2px solid var(--black);
    background-color: transparent;
    gap: 1rem;

    &:hover {
      color: var(--white);
      background-color: var(--black);
    }
  }

  &--tertiary {
    @extend .btn;
    width: fit-content;
    height: fit-content;
    gap: 1rem;
    color: var(--black-transparent);

    &:hover {
      color: var(--color-brand);
    }
  }

  &--main-home-product {
    @extend .btn;
    background-color: var(--black);
    color: var(--white);

    &:hover {
      background-color: #4c4c4c;
    }
  }
}
