.hero {
  padding: calc(5.625rem + clamp(6.75rem, 6.31rem + 1.878vw, 8rem))
    var(--main-horizontal-space) 0;
  height: clamp(37.5rem, 34.661rem + 12.113vw, 45.563rem);
  background: url("/images/home/mobile/image-hero.jpg") center / cover no-repeat;

  &__content {
    max-width: min(70%, 23.75rem);
  }

  @media (width >= 768px) {
    background-image: url("/images/home/tablet/image-hero.jpg");
    background-size: contain;
  }

  @media (width >= 1440px) {
    background-image: url("/images/home/desktop/image-hero.jpg");
    justify-content: flex-start;
  }
}
