.main-navigation {
  &__links {
    column-gap: 2.125rem;
    row-gap: 1rem;
  }
}

@media only screen and (max-width: 450px) {
  .main-navigation {
    &__links {
      flex-direction: column;
      align-items: center;
    }
  }
}
