.greybox {
  border-radius: 0.5rem;
  background-color: var(--bg-grey);
}

.center-to-left {
  text-align: center;

  @media (width >= 1440px) {
    text-align: left;
    align-items: start;
  }
}

.categories-group-box {
  @media (width >= 768px) {
    flex-direction: row;
    justify-content: space-between;
    column-gap: clamp(0.625rem, -0.804rem + 2.976vw, 1.875rem);

    > * {
      flex: 1;
    }
  }
}

.wrapper {
  $common-spacing: clamp(7.5rem, 4.643rem + 5.952vw, 10rem);
  padding: 0 var(--main-horizontal-space) $common-spacing;
  row-gap: $common-spacing;

  &--home {
    padding-top: clamp(2.5rem, 0.739rem + 7.512vw, 7.5rem);
    row-gap: $common-spacing;
  }

  &--category {
    padding-top: clamp(4rem, 1.887rem + 9.014vw, 10rem) $common-spacing;
    row-gap: $common-spacing;
  }

  &--product {
    padding-top: clamp(1rem, -0.386rem + 5.915vw, 4.938rem);
  }
}

.responsive-image-detail {
  @media (width < 1440px) {
    picture,
    img {
      max-height: 22rem;
      width: 100%;
    }
  }
  @media (width >= 768px) {
    row-gap: 3.5rem;
  }

  @media (width >= 1440px) {
    justify-content: space-between;
  }
}
