.footer {
  --common-spacing: 3rem;
  padding: 0 var(--main-horizontal-padding)
    clamp(2.375rem, 2.155rem + 0.939vw, 3rem);
  background-color: black;

  &__h-line {
    background-color: var(--corp-col);
    width: 6.25rem;
    height: 4px;
  }

  &__site-info {
    display: grid;
  }
}

@media (width <= 450px) {
  .footer {
    --common-spacing: 3rem;
    row-gap: var(--common-spacing);
    align-items: center;
    text-align: center;

    > * {
      row-gap: var(--common-spacing);
    }

    &__logo-mainnav {
      align-items: center;
      flex-direction: column;
    }

    &__site-info {
      justify-items: center;
    }
  }
}

@media (width >= 450px) {
  .footer {
    --common-spacing: clamp(2rem, 1.886rem + 0.404vw, 2.25rem);

    &__logo-mainnav {
      margin-top: clamp(3.5rem, 3.074rem + 1.515vw, 4.438rem);
      row-gap: var(--common-spacing);
    }

    &__site-info {
      grid-template-columns: 50% 50%;
      margin-top: var(--common-spacing);
      row-gap: 5rem;

      > :first-child {
        grid-column: span 2;
      }

      > :nth-child(2) {
        white-space: nowrap;
      }

      > :last-child {
        justify-self: flex-end;
      }
    }
  }
}

@media (width >= 768px) {
  .footer {
    &__site-info {
      row-gap: 3.5rem;

      > :first-child {
        grid-column: 1;
        max-width: 33.75rem;
      }

      > :last-child {
        grid-column: 2;
        grid-row: 1;
        align-self: flex-end;
      }
    }
  }
}
