@use "sass:color";

:root {
  --white: #fff;
  --black: #000;
  --white-transparent: rgba(255, 255, 255, 0.5);
  --black-transparent: rgba(0, 0, 0, 0.5);
  --bg-black-pale: #101010;
  --color-brand: #d87d4a;
  --color-brand-pale: #fbaf85;
  --bg-grey: #f1f1f1;
  --bg-grey-pale: #fafafa;

  --main-horizontal-space: clamp(1.5rem, -1.603rem + 13.239vw, 10.313rem);
}
