.btn {
  @extend .text--h;
  align-items: center;
  justify-content: center;
  height: 3rem;
  transition-property: background-color, color;
  transition-duration: 0.5s;

  &--1 {
    @extend .btn;
    border: none;
    color: white;
    background-color: var(--corp-col);

    &:hover {
      background-color: var(--corp-col-pale);
    }
  }

  &--2 {
    @extend .btn;
  }

  &--2:hover {
    color: white;
    background-color: black;
  }

  &--3 {
    @extend .btn;
    color: white;
    background-color: black;

    &:hover {
      background-color: #4c4c4c;
    }
  }

  &--4 {
    @extend .btn;

    border: none;
    font-size: 0.81rem;
    color: rgba(0, 0, 0, 0.5);

    &:hover {
      color: var(--corp-col);
    }
  }
}
