.input {
  height: 3.5rem;
  min-width: 19.313rem;
  font-size: 0.875rem;
  font-weight: 700;
  border: 1px solid var(--input-border-default-col);
  border-radius: 0.5rem;
  outline: none;

  &:invalid {
    border: 2px solid var(--input-border-error-col);
  }

  &:focus {
    border-color: var(--corp-col);
  }

  &--text {
    @extend .input;
    padding: 1.125rem 1.5rem;

    &::placeholder {
      color: var(--black-pale);
    }
  }

  &--radio {
    @extend .input;
    display: flex;
    align-items: center;
    gap: 1rem;
    vertical-align: baseline;
    padding: 1.125rem 1rem;

    &:hover {
      border: 1px solid var(--corp-col);
    }

    &:has(input[type="radio"]:checked) {
      border: 1px solid var(--corp-col);
    }

    > input[type="radio"] {
      cursor: pointer;
      appearance: none;
      width: 20px;
      height: 20px;
      border: 5px solid white;
      border-radius: 50%;
      outline: 1px solid var(--input-border-default-col);

      &:checked {
        background-color: var(--corp-col);
      }
    }
  }
}
